# Dependencias
node_modules/

# Carpetas de construcción
dist/
build/
.cache/
temp/

# Archivos de construcción
.esbuild/
vite-plugin-vue/

# Archivos generados por el editor de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de configuración
.env.local
.env.development
.env.production
.env.test

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
test-result.xml
coverage/

# Archivos de caché
.cache/
